html {
    background-color: aquamarine;
}
 h3 {
     font-size:24px;
     font-family:'Courier New', Courier, monospace;
     font-style:normal;
}
h4 {
    font-size:24px;
    font-family:'Courier New', Courier, monospace;
    font-style:normal;
}
h5 {
    font-size:24px;
    font-family:'Courier New', Courier, monospace;
    font-style:normal;
}
h6 {
    font-size:24px;
    font-family:'Courier New', Courier, monospace;
    font-style:normal;
}
h7 {
    font-size:24px;
    font-family:'Courier New', Courier, monospace;
    font-style:normal;
}
h8 {
    font-size:24px;
    font-family:'Courier New', Courier, monospace;
    font-style:normal;
}
h9 {
    font-size:24px;
    font-family:'Courier New', Courier, monospace;
    font-style:normal;
}
h10 {
    font-size:24px;
    font-family:'Courier New', Courier, monospace;
    font-style:normal;
}
h11 {
    font-size:24px;
    font-family:'Courier New', Courier, monospace;
    font-style:normal;
}
h12 {
    font-size:24px;
    font-family:'Courier New', Courier, monospace;
    font-style:normal;
}
h13 {
    font-size:24px;
    font-family:'Courier New', Courier, monospace;
    font-style:normal;
}
